.body {
    margin: 0;
    line-height: normal;
      --font-changa: Changa;
      --font-size-17xl: 20px;
      --color-white: #fff;
      --color-gray: #8d8888;
  }
  
  .create-acc-child {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
  }
  .enter-your-username {
    border: 0;
    font-family: var(--font-changa);
    font-size: var(--font-size-17xl);
    background-color: transparent;
    position: absolute;
    top: 248px;
    left: 262px;
    color: var(--color-gray);
    text-align: left;
    display: inline-block;
    width: 548px;
    height: 87px;
  }
  .create-acc-item {
    position: absolute;
    top: 300px;
    left: 200.99px;
    width: 475.01px;
    height: 5.01px;
  }
  .enter-your-email,
  .enter-your-password {
    border: 0;
    font-family: var(--font-changa);
    font-size: var(--font-size-17xl);
    background-color: transparent;
    position: absolute;
    top: 180px;
    left: 258px;
    color: var(--color-gray);
    text-align: left;
    display: inline-block;
    width: 548px;
    height: 87px;
  }
  .enter-your-password {
    top: 350px;
  }
  .create-acc-inner,
  .line-icon {
    position: absolute;
    top: 430px;
    left: 200.99px;
    width: 475.01px;
    height: 5.01px;
  }
  .line-icon {
    top: 260px;
    left: 200.99px;
  }
  .repeat-your-password {
    border: 0;
    font-family: var(--font-changa);
    font-size: var(--font-size-17xl);
    background-color: transparent;
    position: absolute;
    top: 714px;
    left: 254px;
    color: var(--color-gray);
    text-align: left;
    display: inline-block;
    width: 548px;
    height: 87px;
  }
  .create-acc-child1,
  .rectangle-icon {
    position: absolute;
    top: 798px;
    left: 200.99px;
    width: 475.01px;
    height: 5.01px;
  }
  
  .rectangle-icon {
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    object-fit: cover;
  }
  .create-account {
    margin: 0;
    position: absolute;
    top: 44px;
    left: 121px;
    display: inline-block;
    width: 751px;
    height: 141px;
  }
  .group-child {
    position: absolute;
    top: 42px;
    left: 131px;
    border-radius: 50px;
    background-color: #fe7e36;
    width: 563px;
    height: 122px;
  }
  .join-our-family {
    font-size: 52px;
    font-family: var(--font-changa);
    color: var(--color-white);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .group-button,
  .join-our-family,
  .rectangle-parent {
    position: absolute;
    top: 0;
    left: 0;
    width: 834px;
    height: 205px;
  }
  .group-button {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 500px;
    left: 82px;
  }
  .group-button:active {
    transform: scale(0.9);
  }

  .create-acc {
    position: relative;
    width: 100%;
    height: 1080px;
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: var(--font-changa);
    transform: scale(0.8);
  }
  .group-button1 {
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    top: 600px;
    left: 82px;
  }
  .group-button1:active {
    transform: scale(0.9);
  }

.sign-in {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    left: 100px;
    top:100px;
  }
  
  .dont-have-an {
    
    margin-top: 20px;
  }
  
  .sign-up {
    text-decoration: underline;
    color: black;
  }
