.dont-have-an,
.enter-your-email,
.enter-your-password {
    position: absolute;
    display: inline-block;
    width: 548px;
    height: 87px;
}

.enter-your-email {
    border: 0;
    font-family: var(--font-changa);
    font-size: var(--font-size-17xl);
    background-color: transparent;
    top: 211px;
    left: 1141px;
    color: var(--color-gray);
    text-align: center;
}

.dont-have-an,
.enter-your-password {
    top: 795px;
    left: 1078px;
}

.enter-your-password {
    border: 0;
    font-family: var(--font-changa);
    font-size: var(--font-size-17xl);
    background-color: transparent;
    top: 352px;
    left: 1141px;
    color: var(--color-gray);
    text-align: center;
}

.desktop-1-child,
.desktop-1-item {
    position: absolute;
    top: 293px;
    left: 1177.99px;
    width: 475.01px;
    height: 5.01px;
}

.desktop-1-item {
    top: 434px;
}

.desktop-1-inner,
.rectangle-div {
    position: absolute;
    top: 540px;
    left: 1183px;
    border-radius: var(--br-xl);
    background-color: var(--color-black);
    width: 474px;
    height: 94px;
}

.rectangle-div {
    top: 667px;
    background-color: var(--color-white);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 475px;
    height: 95px;
}

.sign-in,
.sign-up {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sign-in {
    text-decoration: none;
    top: 569px;
    left: 1257px;
    font-size: 64px;
    color: var(--color-white);
    width: 324px;
    height: 37px;
}

.sign-up {
    text-decoration: underline;
    top: 804px;
    left: 1506px;
    color: #566516;
    width: 213px;
    height: 46px;
}

.rectangle-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 892px;
    height: 1080px;
    object-fit: cover;
}

.sign-in-with {
    text-decoration: none;
    position: absolute;
    top: 681px;
    left: 1268px;
    font-size: 40px;
    color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 367px;
    height: 69px;
}

.icons8-google-1 {
    position: absolute;
    top: 689px;
    left: 1207px;
    width: 52px;
    height: 52px;
    overflow: hidden;
}

.desktop-1 {
    position: relative;
    background-color: var(--color-white);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 100%;
    height: 1080px;
    overflow: hidden;
    text-align: center;
    font-size: var(--font-size-17xl);
    color: var(--color-gray);
    font-family: var(--font-changa);
}