.recommendation-section {
    padding: 30px 0;
  }

.recommendation-description {
    text-align: left;
    margin-left: 5%;
    font-size: 32px;
}

.recommendation-section-title {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 5%;
    font-size: 64px;
}

.recommendation-section-boxes {
    margin-top: 5%;
    /* width: 50%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
    padding-left: 5%;
    padding-right: 5%;
    height:40%;
}

.Recommendation {
    position: relative;
    height: 600px;
}


/* .dish-block {
    height: 100%;
    width: 100%;
    text-align: left;
} */

/* .recommendation-photo {
    height: 70%;
    width: 70%;
    flex-basis: 30%;
    padding: 40px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}

.recommendation-photo-1 {
    background-image: url('../../public/rec1.jpg');
    background-size: cover;
    background-position: center;
} */

/* .recommendation-photo-2 {
    background-image: url('../../public/rec2.jpg');
    background-size: cover;
    background-position: center;
}

.recommendation-photo-3 {
    background-image: url('../../public/rec3.jpg');
    background-size: cover;
    background-position: center;
} */