.create_acc {
    background-color: rgb(241, 248, 248);
}

.centralized-text {
    text-align: center;

  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .button-container a {
    margin-right: 10px;
  }


  
